<h3 align="center">Listing objectbases</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @objectbases.each do |objectbasis| %>
      <tr>
        <td><%= link_to 'Show', objectbasis %></td>
        <td><%= link_to 'Edit', edit_objectbasis_path(objectbasis) %></td>
        <td><%= link_to 'Destroy', objectbasis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objectbase', new_objectbasis_path %>
