<footer class="footer">
  <small>
    <a href="http://www.teleport-ds.com/">www.fpoi.net</a>
    All Rights Reserved, 2014. Created by <a href="http://proalab.com/" target="_blank">Proalab</a>.
  </small>
</footer>