<div class="menu" id="menu">
<div class="wrapper">
  <div class="text-center">
  <%= link_to image_tag("teleport_logo_eng_0.png", alt: "Teleport SaaS"), root_path + "#top", :class => "brand" %>
  </div>
<div class="head">
  <div>
    <h6>
      This map was made to connect and promote the New Zealand startup community. Put yourself on the map!
    </h6>
  </div>
</div>
  <ul class="nav nav-pills pull-right">
    <li><%= link_to " Home", root_path, class: "btn btn-xs btn-success glyphicon glyphicon-play" %></li>
  </ul>
</div>
</div>